<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <a href="/" class="flex-center">
                <figure class="image is-hidden-mobile">
                    <img src="/img/logo_lettering.png">
                </figure>
                <figure class="image is-128x128 is-hidden-tablet">
                    <img src="/img/logo.png">
                </figure>
            </a>

        </div>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                accueil
            </a>

            <a href="/presentation/" class="navbar-item">
                présentation
            </a>

            <a href="/contact/" class="navbar-item">
                contact
            </a>

            <a href="/confidentialite/" class="navbar-item">
                confidentialité
            </a>

        </div>

    </div>
</nav>
