.image-column > * {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}
.image-column > a > * {
    transition: opacity .2s ease-in-out;
}
.image-column > a > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #ffffffc4;
    padding: 2rem;
}
.image-column > a:hover > div {
    opacity: 1;
}

.is-below-nav {
    margin-top: 5rem;
}

.navbar {
    background-color: inherit;
}

.navbar-brand {
    font-family: Kozuka,Arial,sans-serif;
}

.navbar-menu:not(.is-active) .navbar-item {
    padding-top: 0;
    padding-bottom: 1rem;
}

.font-3rem {
    font-size: 3rem;
}

.navbar-item img {
    max-height: inherit;
}

.flex-center {
    display: flex;
    align-items: center;
}

dl > dt {
    float: left;
    font-weight: 600;
}
dl > dd {
    margin-left: 10rem;
    margin-bottom: 0.5rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.navbar-burger {
    zoom: 200%;
    height: 4rem;
    width: 4rem;
}

.width-narrow {
    width: 40%;
}

.pswp__bg {
    background: white;
}

.pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption, .pswp__button--arrow--left:before, .pswp__button--arrow--right:before {
    background-color: #00000080;
}

.image img.js-lazy {
    width: 660px;
}
