
{{ define "main" }}

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}


    <section class="section is-below-nav">
        <div class="container">
            <div class="columns">
                <div class="column is-half image-column">
                    {{ range (first 20 $section) }}
                    {{ $filePathRelative := index .Params.images 0 }}
                    <a href="{{.URL}}">
                        <figure class="image"><img class="js-lazy" src="/img/tiny/{{$filePathRelative}}"
                                                   data-src="/img/small/{{$filePathRelative}}"></figure>
                        <div>
                            <span class="subtitle">{{ .Description }}</span>
                            <p>{{ .Params.location }}</p>

                        </div>
                    </a>
                    {{ end }}

                </div>
            </div>
        </div>
    </section>


{{ end }}

