
{{ define "main" }}

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}


    <section class="section is-below-nav">
        <div class="container">
            <div class="columns">
                <div class="column is-half image-column">
                    {{ range (first 20 $section) }}
                    {{ $featuredImageId := .Params.featured_image_id | default 0 }}
                    {{ $filePathRelative := index .Params.images $featuredImageId }}
                    <a href="{{.RelPermalink}}">
                        <figure class="image"><img class="js-lazy" src="{{$filePathRelative}}?nf_resize=fit&w=100"
                                                   data-src="{{$filePathRelative}}?nf_resize=fit&w=660"></figure>
                        <div>
                            <span class="subtitle">{{ .Description }}</span>
                            <p>{{ .Params.location }}</p>

                        </div>
                    </a>
                    {{ end }}

                </div>
            </div>
        </div>
    </section>


{{ end }}

