
{{ define "main" }}

{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}


    <section class="section is-below-nav">
        <div class="container">
            <div class="columns">
                <div class="column is-half image-column">
                    <figure class="image">
                        <img src="/img/small/CVoeux_2019.jpg" alt="Voeux 2019">
                    </figure>
                    {{ range (first 10 $section) }}
                    <a href="{{.URL}}"> <figure class="image"><img src="/img/{{index .Params.images 0}}"></figure>
                        <div>
                            <span class="subtitle">{{ .Description }}</span>
                            <p>{{ .Params.location }}</p>

                        </div>
                    </a>
                    {{ end }}

                </div>
            </div>
        </div>
    </section>


{{ end }}

